.login{
    width: 100%;
    height: 100%;
   
    background: url(../Img/Rectangle.png), lightgray;
    background-position: center;
    background-size: cover;
    position:absolute;
    
   
}
h1{
    font-size: 500%;
    text-align: center;
}
.form-box{
    width: 593px;
    height: 708px;
    flex-shrink: 0;
    border-radius: 50px;
background: rgba(255, 255, 255, 0.53);
box-shadow: 0px 4px 40px 0px #FFF;
position: absolute;
margin-left: 65%;
margin-top: -4%;
overflow: hidden;
}
.button-box{
    width: 250px;
    height: 40px;
    margin-top: 10%;
    margin-left: 30%;
    position: absolute;
    box-shadow: 0px 0px 8px 7px black;
    border-radius: 30px;
}
.toggle-btn{
    font-size: 100%;
    padding: 10px 33px;
    cursor:pointer;
    background: transparent;
    border: 0;
    outline:none;
    position: relative;
}
#btn{
    top:0;
    left:0;
    position: absolute;
    width: 130px;
    height: 40px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}
.social-icons{
   
    margin:570px auto ;
    

    text-align: center;
}
.social-icons img{

    width: 52px;
    padding: 1px;
  
    margin: 30px;
    box-shadow: 10px 0 20px 0 #c3b3ef3d;
    border-radius: 20px;
    cursor: pointer;

}
.input-grp{
    top:130px;
    position: absolute;
    width :280px;
    transition: .5s;
    margin: 20px;
    padding-bottom: 10px;
}
.input-field{
    display: flex;
width: 370px;
padding: 25px 28px 26px 21px;
margin-left: 60px;
margin-top: 22px;
    background: transparent;
    border-radius: 60px;
border: 4px solid #000;
font-size: 30px;
outline-style:outset ;

}
.submit-btn{
    width:65%;
    height: 90%;
    font-size: 25px;
    padding: 10px 30px;
    cursor:pointer;
    display: block;
    text-align: center;
margin-top:30px;
margin-left:200px;
background: linear-gradient(to right ,#ff105f,#ffad06);
border:0;
outline:none;
border-radius: 30px;
}
.FP{
    font-size:25px;
   padding-left: 290px;
    margin-top:20px;
    
}

#reg{
    left:800px;
    
}